<!DOCTYPE html>
<html lang="en" ng-app="App">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Series API</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
    <style>
        body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
    </style>


<body ng-controller="AppController">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="top_rated">Top_rated</a>
                    </li>
                    <li>
                        <a href="get_key">get_key</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="hor">
        <div class="col-sm-10">
            <br>
          <form class="form-inline" method="get" action="search_by_title">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search_by_title" name="q" required>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
    </div>
    <div class="col-sm-10">
        <br>
      <form class="form-inline" method="get" action="search_by_actors">
                    <input class="form-control mr-sm-2" type="text" placeholder="search_by_actors" name="ac" required>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
    </div>
    <div class="col-sm-10">
        <br>
      <form class="form-inline" method="get" action="search_by_seasons">
                    <input class="form-control mr-sm-2" type="text" placeholder="search_by_seasons" name="s" required>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
      </div>
    <div class="col-sm-10">
        <br>
      <form class="form-inline" method="get" action="search_ep">
                    <input class="form-control mr-sm-2" type="text" placeholder="search_ep" name="e" required>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
      </div>
    <div class="col-sm-10">
        <br>
      <form class="form-inline" method="get" action="search_by_genre">

                    <input class="form-control mr-sm-2" type="text" placeholder="search_by_genre" name="g" required>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
      </div>
    <div class="col-sm-10">
        <br>
      <form class="form-inline" method="get" action="check_key">

                    <input class="form-control mr-sm-2" type="text" placeholder="check_key" name="key" required>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
      </div>
  </div>

</div>
    <div class="movie">
        <h1>All series in db</h1>
        <li ng-repeat="item in get_data">
        {a item.title a}
        {a item.rating a}
    </li>
    </div>

    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script>
      (function () {
  'use strict';
  angular.module('App', [])
            .config(['$interpolateProvider', function($interpolateProvider) {
                    $interpolateProvider.startSymbol('{a');
                    $interpolateProvider.endSymbol('a}');
            }])


          .controller('AppController', ['$scope', '$log', '$http',
  function($scope, $log, $http) {
    $http.get('http://127.0.0.1:5000/show_all').
      success(function(results) {
        console.log(results);
        $scope.get_data = results
      }).
      error(function(error) {
        $log.log(error);
      });
}

]);
}());
  </script>


</body>

</html>
